.grid-container {
    display: flex;
    width: 900px;
    height: 900px;
    border: 2px solid black;
    flex-wrap: wrap;
    margin: 0 auto;
}

.grid-square {
    box-sizing: border-box;
    flex-wrap: wrap;
    border: 1px solid black;
}

.colored {
    background-color: blueviolet;
}

.new-grid-button {
    display: block;
    margin: 20px auto;
    min-width: 100px;
    min-height: 30px;
}